.caveat {
  margin-top: 10px;
  color: $muted-color;
  display: block;
  font-size: 1.4rem;
}

.error {
  color: red;
  margin: 5px 0;
}

.success {
  color: $success-color;
}

.cursor-pointer {
  cursor: pointer;
}