// Typography
$default-font-size: 1.4rem;
$default-line-height: 1.6rem;
$text-small: 1.2em;

//Layout
$padding-default: 1.5rem;
$margin-default: 1.5rem;
$side-nav-width: 160px;
$header-bar-height: 60px;

// Colors
$body-bg: #f8fafc;
$main-text-color: #000;
$nav-background-color: #404040;
$nav-secondary-color: #4D4D4D;
$nav-third-color: #3D88C8;
$nav-text-color: #bbb;
$nav-highlight-color: #fff;
$cta-color: #4293D8;
$muted-color: #CDCDCD;
$search-text: #B9B9B9;
$primary-color: #eee;
$darker: #F8F8F8;
$card-footer: #797979;
$remove-color: #E8362E;
$form-border-color: #ced4da;
$success-color: #DFF0D8;
