.preview {
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid #eee;
}

.artwork-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;

    .preview-actions {
        position: absolute;
        bottom: 15px;
        right: 15px;

        i {
            color: #fff;
            padding: 7px;
            font-size: 1.8rem;
        }

        .download-icon {
            background: #B9B9B9;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .magnify-icon {
            background: #338BD6;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}
